<h1>I am Akshat </h1>
<br>
<button (click)="pujo()">Click for event</button>
<hr>
<br>
<label>
  User Name:
  <input type="text"[formControl]="uname">
</label>
<p>
  User Name is from angular {{ uname.value }}
</p>
<br>
<button (click)="updateName()">Click to update</button>
<br>
<hr>
<h1>ALL THE TVs.........</h1>
<br>
<table border = "1" cellPadding = "5">
  
  <tr>
    <th>TV BRAND</th>
    <th>TV PRICE</th>
    <th>TV TYPE</th>
  </tr>

  <tr *ngFor="let i of products">
    <td>{{ i.brand }}</td>
    <td>{{ i.price }}</td>
    <td>{{ i.type }}</td>
  </tr>

</table>
